{
  "openapi": "3.1.0",
  "info": {
    "title": "Eth Beacon REST API",
    "description": "API specification for the beacon node, which enables users to query and participate in Ethereum 2.0 phase 0 beacon chain.\n\nAll requests by default send and receive JSON, and as such should have either or both of the \"Content-Type: application/json\"\nand \"Accept: application/json\" headers.  In addition, some requests can return data in the SSZ format.  To indicate that SSZ\ndata is required in response to a request the header \"Accept: application/octet-stream\" should be sent.  Note that only a subset\nof requests can respond with data in SSZ format; these are noted in each individual request.\n\nAPI endpoints are individually versioned.  As such, there is no direct relationship between all v1 endpoints, all v2 endpoints,\n_etc._ and no such relationship should be inferred.  All JSON responses return the requested data under a `data` key in the top\nlevel of their response.  Additional metadata may or may not be present in other keys at the top level of the response, dependent\non the endpoint.  The rules that require an increase in version number are as follows:\n\n  - no field that is listed in an endpoint shall be removed without an increase in the version number\n  - no field that is listed in an endpoint shall be altered in terms of format (_e.g._ from a string to an array) without an\n    increase in the version number\n\nNote that it is possible for a field to be added to an endpoint's data or metadata without an increase in the version number.\n",
    "version": "v2.5.0 - Ethereum Proof-of-Stake Consensus Specification v1.4.0",
    "contact": {
      "name": "Ethereum Github",
      "url": "https://github.com/ethereum/beacon-apis/issues"
    },
    "license": {
      "name": "CC0-1.0",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    }
  },
  "servers": [
    {
      "url": "https://eth-beacon.rpc.grove.city/v1/7ebb2846",
      "description": "Ethereum Beacon RPC Server"
    }
  ],
  "tags": [
    {
      "name": "Beacon",
      "description": "Set of endpoints to query beacon chain."
    },
    {
      "name": "Debug",
      "description": "Set of endpoints to debug chain and shouldn't be exposed publicly."
    }
  ],
  "paths": {
    "/eth/v1/beacon/genesis": {
      "get": {
        "operationId": "getGenesis",
        "tags": ["Beacon", "ValidatorRequiredApi"],
        "summary": "Retrieve details of the chain's genesis.",
        "description": "Retrieve details of the chain's genesis which can be used to identify chain.",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "GetGenesisResponse",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "genesis_time",
                        "genesis_validators_root",
                        "genesis_fork_version"
                      ],
                      "properties": {
                        "genesis_time": {
                          "example": "1590832934",
                          "description": "The genesis_time configured for the beacon node, which is the unix time in seconds at which the Eth2.0 chain began.",
                          "type": "string"
                        },
                        "genesis_validators_root": {
                          "type": "string",
                          "format": "hex",
                          "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                          "pattern": "^0x[a-fA-F0-9]{64}$"
                        },
                        "genesis_fork_version": {
                          "type": "string",
                          "format": "hex",
                          "description": "a fork version number",
                          "example": "0x00000000",
                          "pattern": "^0x[a-fA-F0-9]{8}$"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Chain genesis info is not yet known",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "Chain genesis info is not yet known"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/root": {
      "get": {
        "operationId": "getStateRoot",
        "summary": "Get state SSZ HashTreeRoot",
        "description": "Calculates HashTreeRoot for state with given 'stateId'. If stateId is root, same value will be returned.",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateRootResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "object",
                      "required": ["root"],
                      "properties": {
                        "root": {
                          "description": "HashTreeRoot of BeaconState object",
                          "type": "string",
                          "format": "hex",
                          "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                          "pattern": "^0x[a-fA-F0-9]{64}$"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/fork": {
      "get": {
        "operationId": "getStateFork",
        "summary": "Get Fork object for requested state",
        "description": "Returns [Fork](https://github.com/ethereum/consensus-specs/blob/v1.3.0/specs/phase0/beacon-chain.md#fork) object for state with given 'stateId'.",
        "tags": ["Beacon", "ValidatorRequiredApi"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateForkResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "object",
                      "description": "The [`Fork`](https://github.com/ethereum/consensus-specs/blob/v1.3.0/specs/phase0/beacon-chain.md#fork) object from the CL spec.",
                      "required": [
                        "previous_version",
                        "current_version",
                        "epoch"
                      ],
                      "properties": {
                        "previous_version": {
                          "type": "string",
                          "format": "hex",
                          "description": "a fork version number",
                          "example": "0x00000000",
                          "pattern": "^0x[a-fA-F0-9]{8}$"
                        },
                        "current_version": {
                          "type": "string",
                          "format": "hex",
                          "description": "a fork version number",
                          "example": "0x00000000",
                          "pattern": "^0x[a-fA-F0-9]{8}$"
                        },
                        "epoch": {
                          "type": "string",
                          "example": "1"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/finality_checkpoints": {
      "get": {
        "operationId": "getStateFinalityCheckpoints",
        "summary": "Get state finality checkpoints",
        "description": "Returns finality checkpoints for state with given 'stateId'.\nIn case finality is not yet achieved, checkpoint should return epoch 0 and ZERO_HASH as root.\n",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateFinalityCheckpointsResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "previous_justified",
                        "current_justified",
                        "finalized"
                      ],
                      "properties": {
                        "previous_justified": {
                          "type": "object",
                          "description": "The [`Checkpoint`](https://github.com/ethereum/consensus-specs/blob/v1.3.0/specs/phase0/beacon-chain.md#checkpoint",
                          "required": ["epoch", "root"],
                          "properties": {
                            "epoch": {
                              "type": "string",
                              "example": "1"
                            },
                            "root": {
                              "type": "string",
                              "format": "hex",
                              "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                              "pattern": "^0x[a-fA-F0-9]{64}$"
                            }
                          }
                        },
                        "current_justified": {
                          "type": "object",
                          "description": "The [`Checkpoint`](https://github.com/ethereum/consensus-specs/blob/v1.3.0/specs/phase0/beacon-chain.md#checkpoint",
                          "required": ["epoch", "root"],
                          "properties": {
                            "epoch": {
                              "type": "string",
                              "example": "1"
                            },
                            "root": {
                              "type": "string",
                              "format": "hex",
                              "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                              "pattern": "^0x[a-fA-F0-9]{64}$"
                            }
                          }
                        },
                        "finalized": {
                          "type": "object",
                          "description": "The [`Checkpoint`](https://github.com/ethereum/consensus-specs/blob/v1.3.0/specs/phase0/beacon-chain.md#checkpoint",
                          "required": ["epoch", "root"],
                          "properties": {
                            "epoch": {
                              "type": "string",
                              "example": "1"
                            },
                            "root": {
                              "type": "string",
                              "format": "hex",
                              "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                              "pattern": "^0x[a-fA-F0-9]{64}$"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/validators": {
      "get": {
        "operationId": "getStateValidators",
        "summary": "Get validators from state",
        "description": "Returns filterable list of validators with their balance, status and index.\n\nInformation will be returned for all indices or public key that match known validators.  If an index or public key does not\nmatch any known validator, no information will be returned but this will not cause an error.  There are no guarantees for the\nreturned data in terms of ordering; both the index and public key are returned for each validator, and can be used to confirm\nfor which inputs a response has been returned.\n",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          },
          {
            "name": "id",
            "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 64,
              "uniqueItems": true,
              "items": {
                "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "description": "[Validator status specification](https://hackmd.io/ofFJ5gOmQpu1jjHilHbdQQ)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "oneOf": [
                  {
                    "description": "Possible statuses:\n- **pending_initialized** - When the first deposit is processed, but not enough funds are available (or not yet the end of the first epoch) to get validator into the activation queue.\n- **pending_queued** - When validator is waiting to get activated, and have enough funds etc. while in the queue, validator activation epoch keeps changing until it gets to the front and make it through (finalization is a requirement here too).\n- **active_ongoing** - When validator must be attesting, and have not initiated any exit.\n- **active_exiting** - When validator is still active, but filed a voluntary request to exit.\n- **active_slashed** - When validator is still active, but have a slashed status and is scheduled to exit.\n- **exited_unslashed** - When validator has reached regular exit epoch, not being slashed, and doesn't have to attest any more, but cannot withdraw yet.\n- **exited_slashed** - When validator has reached regular exit epoch, but was slashed, have to wait for a longer withdrawal period.\n- **withdrawal_possible** - After validator has exited, a while later is permitted to move funds, and is truly out of the system.\n- **withdrawal_done** - (not possible in phase0, except slashing full balance) - actually having moved funds away\n\n[Validator status specification](https://hackmd.io/ofFJ5gOmQpu1jjHilHbdQQ)\n",
                    "enum": [
                      "pending_initialized",
                      "pending_queued",
                      "active_ongoing",
                      "active_exiting",
                      "active_slashed",
                      "exited_unslashed",
                      "exited_slashed",
                      "withdrawal_possible",
                      "withdrawal_done"
                    ],
                    "example": "active_ongoing"
                  },
                  {
                    "enum": ["active", "pending", "exited", "withdrawal"]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateValidatorsResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["index", "balance", "status", "validator"],
                        "properties": {
                          "index": {
                            "description": "Index of validator in validator registry.",
                            "type": "string",
                            "example": "1"
                          },
                          "balance": {
                            "description": "Current validator balance in gwei.",
                            "type": "string",
                            "example": "1"
                          },
                          "status": {
                            "description": "Possible statuses:\n- **pending_initialized** - When the first deposit is processed, but not enough funds are available (or not yet the end of the first epoch) to get validator into the activation queue.\n- **pending_queued** - When validator is waiting to get activated, and have enough funds etc. while in the queue, validator activation epoch keeps changing until it gets to the front and make it through (finalization is a requirement here too).\n- **active_ongoing** - When validator must be attesting, and have not initiated any exit.\n- **active_exiting** - When validator is still active, but filed a voluntary request to exit.\n- **active_slashed** - When validator is still active, but have a slashed status and is scheduled to exit.\n- **exited_unslashed** - When validator has reached regular exit epoch, not being slashed, and doesn't have to attest any more, but cannot withdraw yet.\n- **exited_slashed** - When validator has reached regular exit epoch, but was slashed, have to wait for a longer withdrawal period.\n- **withdrawal_possible** - After validator has exited, a while later is permitted to move funds, and is truly out of the system.\n- **withdrawal_done** - (not possible in phase0, except slashing full balance) - actually having moved funds away\n\n[Validator status specification](https://hackmd.io/ofFJ5gOmQpu1jjHilHbdQQ)\n",
                            "enum": [
                              "pending_initialized",
                              "pending_queued",
                              "active_ongoing",
                              "active_exiting",
                              "active_slashed",
                              "exited_unslashed",
                              "exited_slashed",
                              "withdrawal_possible",
                              "withdrawal_done"
                            ],
                            "example": "active_ongoing"
                          },
                          "validator": {
                            "type": "object",
                            "required": [
                              "pubkey",
                              "withdrawal_credentials",
                              "effective_balance",
                              "slashed",
                              "activation_eligibility_epoch",
                              "activation_epoch",
                              "exit_epoch",
                              "withdrawable_epoch"
                            ],
                            "properties": {
                              "pubkey": {
                                "type": "string",
                                "format": "hex",
                                "pattern": "^0x[a-fA-F0-9]{96}$",
                                "description": "The validator's BLS public key, uniquely identifying them. _48-bytes, hex encoded with 0x prefix, case insensitive._",
                                "example": "0x93247f2209abcacf57b75a51dafae777f9dd38bc7053d1af526f220a7489a6d3a2753e5f3e8b1cfe39b56f43611df74a"
                              },
                              "withdrawal_credentials": {
                                "description": "Root of withdrawal credentials",
                                "type": "string",
                                "format": "hex",
                                "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                                "pattern": "^0x[a-fA-F0-9]{64}$"
                              },
                              "effective_balance": {
                                "description": "Balance at stake in Gwei.",
                                "type": "string",
                                "example": "1"
                              },
                              "slashed": {
                                "type": "boolean",
                                "example": false,
                                "description": "Was validator slashed (not longer active)."
                              },
                              "activation_eligibility_epoch": {
                                "description": "When criteria for activation were met.",
                                "type": "string",
                                "example": "1"
                              },
                              "activation_epoch": {
                                "description": "Epoch when validator activated. 'FAR_FUTURE_EPOCH' if not activated",
                                "type": "string",
                                "example": "1"
                              },
                              "exit_epoch": {
                                "description": "Epoch when validator exited. 'FAR_FUTURE_EPOCH' if not exited.",
                                "type": "string",
                                "example": "1"
                              },
                              "withdrawable_epoch": {
                                "description": "When validator can withdraw or transfer funds. 'FAR_FUTURE_EPOCH' if not defined",
                                "type": "string",
                                "example": "1"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state or validator ID, or status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "414": {
            "description": "Too many validator IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 414,
                  "message": "Too many validator IDs in request"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postStateValidators",
        "summary": "Get validators from state",
        "description": "Returns filterable list of validators with their balance, status and index.\n\nInformation will be returned for all indices or public key that match known validators.  If an index or public key does not\nmatch any known validator, no information will be returned but this will not cause an error.  There are no guarantees for the\nreturned data in terms of ordering; both the index and public key are returned for each validator, and can be used to confirm\nfor which inputs a response has been returned.\n\nThe POST variant of this endpoint has the same semantics as the GET endpoint but passes\nthe lists of IDs and statuses via a POST body in order to enable larger requests.\n",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          }
        ],
        "requestBody": {
          "description": "The lists of validator IDs and statuses to filter on. Either or both may be `null` to signal that no filtering on that attribute is desired.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "ids": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
                      "type": "string"
                    }
                  },
                  "statuses": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "oneOf": [
                        {
                          "description": "Possible statuses:\n- **pending_initialized** - When the first deposit is processed, but not enough funds are available (or not yet the end of the first epoch) to get validator into the activation queue.\n- **pending_queued** - When validator is waiting to get activated, and have enough funds etc. while in the queue, validator activation epoch keeps changing until it gets to the front and make it through (finalization is a requirement here too).\n- **active_ongoing** - When validator must be attesting, and have not initiated any exit.\n- **active_exiting** - When validator is still active, but filed a voluntary request to exit.\n- **active_slashed** - When validator is still active, but have a slashed status and is scheduled to exit.\n- **exited_unslashed** - When validator has reached regular exit epoch, not being slashed, and doesn't have to attest any more, but cannot withdraw yet.\n- **exited_slashed** - When validator has reached regular exit epoch, but was slashed, have to wait for a longer withdrawal period.\n- **withdrawal_possible** - After validator has exited, a while later is permitted to move funds, and is truly out of the system.\n- **withdrawal_done** - (not possible in phase0, except slashing full balance) - actually having moved funds away\n\n[Validator status specification](https://hackmd.io/ofFJ5gOmQpu1jjHilHbdQQ)\n",
                          "enum": [
                            "pending_initialized",
                            "pending_queued",
                            "active_ongoing",
                            "active_exiting",
                            "active_slashed",
                            "exited_unslashed",
                            "exited_slashed",
                            "withdrawal_possible",
                            "withdrawal_done"
                          ],
                          "example": "active_ongoing"
                        },
                        {
                          "enum": ["active", "pending", "exited", "withdrawal"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateValidatorsResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["index", "balance", "status", "validator"],
                        "properties": {
                          "index": {
                            "description": "Index of validator in validator registry.",
                            "type": "string",
                            "example": "1"
                          },
                          "balance": {
                            "description": "Current validator balance in gwei.",
                            "type": "string",
                            "example": "1"
                          },
                          "status": {
                            "description": "Possible statuses:\n- **pending_initialized** - When the first deposit is processed, but not enough funds are available (or not yet the end of the first epoch) to get validator into the activation queue.\n- **pending_queued** - When validator is waiting to get activated, and have enough funds etc. while in the queue, validator activation epoch keeps changing until it gets to the front and make it through (finalization is a requirement here too).\n- **active_ongoing** - When validator must be attesting, and have not initiated any exit.\n- **active_exiting** - When validator is still active, but filed a voluntary request to exit.\n- **active_slashed** - When validator is still active, but have a slashed status and is scheduled to exit.\n- **exited_unslashed** - When validator has reached regular exit epoch, not being slashed, and doesn't have to attest any more, but cannot withdraw yet.\n- **exited_slashed** - When validator has reached regular exit epoch, but was slashed, have to wait for a longer withdrawal period.\n- **withdrawal_possible** - After validator has exited, a while later is permitted to move funds, and is truly out of the system.\n- **withdrawal_done** - (not possible in phase0, except slashing full balance) - actually having moved funds away\n\n[Validator status specification](https://hackmd.io/ofFJ5gOmQpu1jjHilHbdQQ)\n",
                            "enum": [
                              "pending_initialized",
                              "pending_queued",
                              "active_ongoing",
                              "active_exiting",
                              "active_slashed",
                              "exited_unslashed",
                              "exited_slashed",
                              "withdrawal_possible",
                              "withdrawal_done"
                            ],
                            "example": "active_ongoing"
                          },
                          "validator": {
                            "type": "object",
                            "required": [
                              "pubkey",
                              "withdrawal_credentials",
                              "effective_balance",
                              "slashed",
                              "activation_eligibility_epoch",
                              "activation_epoch",
                              "exit_epoch",
                              "withdrawable_epoch"
                            ],
                            "properties": {
                              "pubkey": {
                                "type": "string",
                                "format": "hex",
                                "pattern": "^0x[a-fA-F0-9]{96}$",
                                "description": "The validator's BLS public key, uniquely identifying them. _48-bytes, hex encoded with 0x prefix, case insensitive._",
                                "example": "0x93247f2209abcacf57b75a51dafae777f9dd38bc7053d1af526f220a7489a6d3a2753e5f3e8b1cfe39b56f43611df74a"
                              },
                              "withdrawal_credentials": {
                                "description": "Root of withdrawal credentials",
                                "type": "string",
                                "format": "hex",
                                "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                                "pattern": "^0x[a-fA-F0-9]{64}$"
                              },
                              "effective_balance": {
                                "description": "Balance at stake in Gwei.",
                                "type": "string",
                                "example": "1"
                              },
                              "slashed": {
                                "type": "boolean",
                                "example": false,
                                "description": "Was validator slashed (not longer active)."
                              },
                              "activation_eligibility_epoch": {
                                "description": "When criteria for activation were met.",
                                "type": "string",
                                "example": "1"
                              },
                              "activation_epoch": {
                                "description": "Epoch when validator activated. 'FAR_FUTURE_EPOCH' if not activated",
                                "type": "string",
                                "example": "1"
                              },
                              "exit_epoch": {
                                "description": "Epoch when validator exited. 'FAR_FUTURE_EPOCH' if not exited.",
                                "type": "string",
                                "example": "1"
                              },
                              "withdrawable_epoch": {
                                "description": "When validator can withdraw or transfer funds. 'FAR_FUTURE_EPOCH' if not defined",
                                "type": "string",
                                "example": "1"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state or validator ID, or status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/validators/{validator_id}": {
      "get": {
        "operationId": "getStateValidator",
        "summary": "Get validator from state by id",
        "description": "Returns validator specified by state and id or public key along with status and balance.",
        "tags": ["Beacon", "ValidatorRequiredApi"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          },
          {
            "name": "validator_id",
            "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateValidatorResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "object",
                      "required": ["index", "balance", "status", "validator"],
                      "properties": {
                        "index": {
                          "description": "Index of validator in validator registry.",
                          "type": "string",
                          "example": "1"
                        },
                        "balance": {
                          "description": "Current validator balance in gwei.",
                          "type": "string",
                          "example": "1"
                        },
                        "status": {
                          "description": "Possible statuses:\n- **pending_initialized** - When the first deposit is processed, but not enough funds are available (or not yet the end of the first epoch) to get validator into the activation queue.\n- **pending_queued** - When validator is waiting to get activated, and have enough funds etc. while in the queue, validator activation epoch keeps changing until it gets to the front and make it through (finalization is a requirement here too).\n- **active_ongoing** - When validator must be attesting, and have not initiated any exit.\n- **active_exiting** - When validator is still active, but filed a voluntary request to exit.\n- **active_slashed** - When validator is still active, but have a slashed status and is scheduled to exit.\n- **exited_unslashed** - When validator has reached regular exit epoch, not being slashed, and doesn't have to attest any more, but cannot withdraw yet.\n- **exited_slashed** - When validator has reached regular exit epoch, but was slashed, have to wait for a longer withdrawal period.\n- **withdrawal_possible** - After validator has exited, a while later is permitted to move funds, and is truly out of the system.\n- **withdrawal_done** - (not possible in phase0, except slashing full balance) - actually having moved funds away\n\n[Validator status specification](https://hackmd.io/ofFJ5gOmQpu1jjHilHbdQQ)\n",
                          "enum": [
                            "pending_initialized",
                            "pending_queued",
                            "active_ongoing",
                            "active_exiting",
                            "active_slashed",
                            "exited_unslashed",
                            "exited_slashed",
                            "withdrawal_possible",
                            "withdrawal_done"
                          ],
                          "example": "active_ongoing"
                        },
                        "validator": {
                          "type": "object",
                          "required": [
                            "pubkey",
                            "withdrawal_credentials",
                            "effective_balance",
                            "slashed",
                            "activation_eligibility_epoch",
                            "activation_epoch",
                            "exit_epoch",
                            "withdrawable_epoch"
                          ],
                          "properties": {
                            "pubkey": {
                              "type": "string",
                              "format": "hex",
                              "pattern": "^0x[a-fA-F0-9]{96}$",
                              "description": "The validator's BLS public key, uniquely identifying them. _48-bytes, hex encoded with 0x prefix, case insensitive._",
                              "example": "0x93247f2209abcacf57b75a51dafae777f9dd38bc7053d1af526f220a7489a6d3a2753e5f3e8b1cfe39b56f43611df74a"
                            },
                            "withdrawal_credentials": {
                              "description": "Root of withdrawal credentials",
                              "type": "string",
                              "format": "hex",
                              "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
                              "pattern": "^0x[a-fA-F0-9]{64}$"
                            },
                            "effective_balance": {
                              "description": "Balance at stake in Gwei.",
                              "type": "string",
                              "example": "1"
                            },
                            "slashed": {
                              "type": "boolean",
                              "example": false,
                              "description": "Was validator slashed (not longer active)."
                            },
                            "activation_eligibility_epoch": {
                              "description": "When criteria for activation were met.",
                              "type": "string",
                              "example": "1"
                            },
                            "activation_epoch": {
                              "description": "Epoch when validator activated. 'FAR_FUTURE_EPOCH' if not activated",
                              "type": "string",
                              "example": "1"
                            },
                            "exit_epoch": {
                              "description": "Epoch when validator exited. 'FAR_FUTURE_EPOCH' if not exited.",
                              "type": "string",
                              "example": "1"
                            },
                            "withdrawable_epoch": {
                              "description": "When validator can withdraw or transfer funds. 'FAR_FUTURE_EPOCH' if not defined",
                              "type": "string",
                              "example": "1"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state or validator ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "StateNotFound": {
                    "value": {
                      "code": 404,
                      "message": "State not found"
                    }
                  },
                  "ValidatorNotFound": {
                    "value": {
                      "code": 404,
                      "message": "Validator not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/validator_balances": {
      "get": {
        "operationId": "getStateValidatorBalances",
        "summary": "Get validator balances from state",
        "description": "Returns filterable list of validators balances.\n\nBalances will be returned for all indices or public key that match known validators. If an index or public key does not\nmatch any known validator, no balance will be returned but this will not cause an error. There are no guarantees for the\nreturned data in terms of ordering; the index is returned for each balance, and can be used to confirm for which inputs a\nresponse has been returned.\n",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          },
          {
            "name": "id",
            "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 64,
              "uniqueItems": true,
              "items": {
                "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateValidatorBalancesResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["index", "balance"],
                        "properties": {
                          "index": {
                            "description": "Index of validator in validator registry.",
                            "type": "string",
                            "example": "1"
                          },
                          "balance": {
                            "description": "Current validator balance in gwei.",
                            "type": "string",
                            "example": "1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state or validator ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "414": {
            "description": "Too many validator IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 414,
                  "message": "Too many validator IDs in request"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postStateValidatorBalances",
        "summary": "Get validator balances from state",
        "description": "Returns filterable list of validators balances.\n\nBalances will be returned for all indices or public key that match known validators. If an index or public key does not\nmatch any known validator, no balance will be returned but this will not cause an error. There are no guarantees for the\nreturned data in terms of ordering; the index is returned for each balance, and can be used to confirm for which inputs a\nresponse has been returned.\n",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          }
        ],
        "requestBody": {
          "description": "An array of either hex encoded public key (any bytes48 with 0x prefix) or validator index",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "description": "Either hex encoded public key (any bytes48 with 0x prefix) or validator index",
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetStateValidatorBalancesResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["index", "balance"],
                        "properties": {
                          "index": {
                            "description": "Index of validator in validator registry.",
                            "type": "string",
                            "example": "1"
                          },
                          "balance": {
                            "description": "Current validator balance in gwei.",
                            "type": "string",
                            "example": "1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state ID or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid state ID: current"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/committees": {
      "get": {
        "operationId": "getEpochCommittees",
        "summary": "Get all committees for a state.",
        "description": "Retrieves the committees for the given state.",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          },
          {
            "name": "epoch",
            "description": "Fetch committees for the given epoch.  If not present then the committees for the epoch of the state will be obtained.",
            "in": "query",
            "required": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "index",
            "description": "Restrict returned values to those matching the supplied committee index.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "slot",
            "description": "Restrict returned values to those matching the supplied slot.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetEpochCommitteesResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Group of validators assigned to attest at specific slot and that have the same committee index (shard in phase 1)",
                        "type": "object",
                        "required": ["index", "slot", "validators"],
                        "properties": {
                          "index": {
                            "description": "Committee index at a slot",
                            "type": "string",
                            "example": "1"
                          },
                          "slot": {
                            "type": "string",
                            "example": "1"
                          },
                          "validators": {
                            "type": "array",
                            "description": "List of validator indices assigned to this committee",
                            "items": {
                              "type": "string",
                              "example": "1"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state ID, index, epoch, slot, or combination thereof",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Slot does not belong in epoch"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 404,
                  "message": "State not found"
                }
              }
            }
          },
          "500": {
            "description": "Beacon node internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {
                      "description": "Either specific error code in case of invalid request or http status code",
                      "type": "number",
                      "example": 404
                    },
                    "message": {
                      "description": "Message describing error",
                      "type": "string"
                    },
                    "stacktraces": {
                      "description": "Optional stacktraces, sent when node is in debug mode",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/eth/v1/beacon/states/{state_id}/sync_committees": {
      "get": {
        "operationId": "getEpochSyncCommittees",
        "summary": "Get sync committees for a state.",
        "description": "Retrieves the current sync committee for the given state. Also returns the subcommittee assignments.",
        "tags": ["Beacon"],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "example": "head",
            "schema": {
              "type": "string"
            },
            "description": "State identifier.\nCan be one of: \"head\" (canonical head in node's view), \"genesis\", \"finalized\", \"justified\", \\<slot\\>, \\<hex encoded stateRoot with 0x prefix\\>.\n"
          },
          {
            "name": "epoch",
            "description": "Fetch sync committees for the given epoch.  If not present then the sync committees for the epoch of the state will be obtained.",
            "in": "query",
            "required": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetEpochSyncCommitteesResponse",
                  "type": "object",
                  "required": ["execution_optimistic", "finalized", "data"],
                  "properties": {
                    "execution_optimistic": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references an unverified execution payload. Optimistic information may be invalidated at a later time. If the field is not present, assume the False value."
                    },
                    "finalized": {
                      "type": "boolean",
                      "example": false,
                      "description": "True if the response references the finalized history of the chain, as determined by fork choice. If the field is not present, additional calls are necessary to compare the epoch of the requested information with the finalized checkpoint."
                    },
                    "data": {
                      "type": "object",
                      "required": ["validators", "validator_aggregates"],
                      "properties": {
                        "validators": {
                          "description": "all of the validator indices in the current sync committee",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "1"
                          }
                        },
                        "validator_aggregates": {
                          "type": "array",
                          "items": {
                            "description": "Subcommittee slices of the current sync committee",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "1"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
[...]
